<a href="https://colab.research.google.com/github/HectorGtz27/Data-Science-Project/blob/main/Fase_3_Limpieza_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # importa la librería pandas y la asigna a la variable pd

In [ ]:
datos_consumo = pd.read_excel('AvanceComidas.xlsx') # indicamos el nombre de nuestro archivo a ser leído

In [ ]:
datos_consumo.head()

,Fecha (dd/mm/aa),Momento,Nombre alimento,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg),Fuente
0,2022-08-17,Desayuno,Huevo con tortilla,303,23.0,17.0,16.0,233,MyFitnessPal
1,2022-08-17,Comida,Pollo asado,422,2.0,19.0,60.0,2,MyFitnessPal
2,2022-08-17,Cena,Quesadillas con frijoles,572,51.0,29.0,29.0,702,MyFitnessPal
3,2022-08-17,Snack,Nito,252,37.0,10.0,3.0,10,MyFitnessPal
4,2022-08-17,Snack,5 Picafresas,100,25.0,0.0,0.0,225,MyFitnessPal

In [ ]:
datos_consumo.groupby("Momento").count() # con la función groupby agrupamos los datos de la columna Momento y con count() los contamos para obtener subtotales

,Fecha (dd/mm/aa),Nombre alimento,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg),Fuente
Momento,,,,,,,,
Cena,78,78,78,78,78,78,78,78
Comida,78,78,78,78,78,78,78,78
Desayuno,76,76,76,76,76,76,76,76
Desyuno,2,2,2,2,2,2,2,2
Snack,157,157,157,157,157,157,157,157

In [ ]:
datos_consumo.describe()

,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg)
count,391.000000,391.000000,391.000000,391.000000,391.000000
mean,327.138107,31.956266,15.460102,16.352174,499.051151
std,206.084178,25.044617,11.659966,14.591866,523.009822
min,40.000000,0.000000,0.000000,0.000000,0.000000
25%,165.000000,16.000000,7.000000,2.000000,180.000000
50%,300.000000,30.000000,13.000000,12.000000,320.000000
75%,406.000000,37.200000,21.950000,29.000000,702.000000
max,1061.000000,115.000000,68.000000,65.000000,3110.000000

In [ ]:
datos_seleccionados = datos_consumo.iloc[:,3:8] # : selecciona todas las filas y 3:8(-1) seleccion columnas de la 4 la 7

datos_seleccionados # desplegamos el dataframe

,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg)
0,303,23.0,17.0,16.0,233
1,422,2.0,19.0,60.0,2
2,572,51.0,29.0,29.0,702
3,252,37.0,10.0,3.0,10
4,100,25.0,0.0,0.0,225
...,...,...,...,...,...
386,366,26.3,26.5,8.0,334
387,330,30.0,22.0,3.0,500
388,1052,115.0,49.0,36.0,1710
389,470,52.0,26.0,8.0,3110
390,327,52.0,5.3,17.7,553

In [ ]:
datos_seleccionados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Calorías (kcal)     391 non-null    int64
 1   Carbohidratos (g)   391 non-null    float64
 2   Lípidos/grasas (g)  391 non-null    float64
 3   Proteína (g)        391 non-null    float64
 4   Sodio (mg)          391 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 15.4 KB

In [ ]:
datos_seleccionados.isnull().values.any() # buscamos valores nulos y obtenemos True o False dependiendo si hay o no

dataset = datos_seleccionados.dropna() # creamos un nuevo dataframe descartando los valores nulos o vacíos de nuestro dataframe datos_seleccionados

dataset.isnull().sum() # validamos que no tenemos valores nulos en ninguna columna, todos deben dar cero

Calorías (kcal)       0
Carbohidratos (g)     0
Lípidos/grasas (g)    0
Proteína (g)          0
Sodio (mg)            0
dtype: int64

In [ ]:
dataset.columns # vemos los nombres de nuestras columnas para asignarlos a las variables

X = dataset[['Carbohidratos (g)', 'Lípidos/grasas (g)', 'Proteína (g)', 'Sodio (mg)']].values # variables independientes

y = dataset['Calorías (kcal)'].values # variable dependiente

In [ ]:
from sklearn.model_selection import train_test_split # importamos la herramienta para dividir los datos de SciKit-Learn

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0) # asignación de los datos 80% para entrenamiento y 20% para prueba